.div-showTxHash {
    margin-top: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 220px 220px;
}

.span-hashTx {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    display: grid;
    font-size: 20px;
    font-family: 'comic sans';
}

.hash-link {
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 185, 2);
    display: grid;
    font-family: 'comic sans';
}